# Headscale example config for LuminaOS / Nexus
server_url: https://headscale.esslinger.consulting
listen_addr: 127.0.0.1:8080
metrics_listen_addr: 127.0.0.1:9090
grpc_listen_addr: 127.0.0.1:50443
grpc_allow_insecure: true

noise:
  private_key_path: /var/lib/headscale/noise_private.key

prefixes:
  v4: 100.64.0.0/10
  v6: fd7a:115c:a1e0::/48

database:
  type: sqlite
  sqlite:
    path: /var/lib/headscale/db.sqlite

dns:
  magic_dns: true
  base_domain: tailnet.esslinger.consulting
  nameservers:
    global:
      - 1.1.1.1
      - 8.8.8.8

derp:
  server:
    enabled: true
    region_id: 901
    region_code: "ess"
    region_name: "Esslinger Consulting DERP"
    stun_listen_addr: "0.0.0.0:3478"
    private_key_path: /var/lib/headscale/derp_server_private.key
  urls:
    - https://controlplane.tailscale.com/derpmap/default

log:
  level: info
